<!DOCTYPE html>
<meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
<html>
    <body>
      <div id="userFile" align="center">
        <h1><span id="userVal"><%=userVal%></span></h1>
        <table>
          <a  href="/?"><button id="home" class="btn">Home</button></a>
          <tr><th>My Polls</th><td><%=pollList%></td></tr>
          <tr><th>My ballots</th><td><%=pollList%></td></tr>
        </table>
      </div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/ejs.min.js"></script>
        <script src="/javascripts/signin.js"></script>
        <script src="/javascripts/signup.js"></script>
        <script src="/javascripts/pollViewer.js"></script>
        <script>
          var html = ejs.render('<%= userVal %>');
          $("#userVal").html(html);
          document.getElementById('userVal').innerHTML = html;
          var polls = ejs.render('<%= pollList %>');
          $("#pollList").html(pollList);
          document.getElementById('pollList').innerHTML = pollList;
          
        </script>
    </body>
</html>